<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>
</head>
<body>

    <h1>About the app</h1>
    <p>This is a simple To-do app which has full CRUD functionality</p>
    <br>
    <p>C - Create - User is able to add new to-do tasks to the list</p>
    <br>
    <p>R - Read - User is able to display all existing to-do tasks</p>
    <br>
    <p>U - Update - User is able to press a button to mark a to-do task as 'complete' or 'incomplete'</p>
    <br>
    <p>TD - Delete - User is able to delete to-do tasks from the list</p>
    <br>
</body>
</html>