<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- nav bar -->
    <nav>
        <br>
        <div style="margin-left: 20px;">
            <a href="/" class="ui blue button">Home</a>
            <a href="/about" class="ui blue button">About</a>
        </div>
      </nav>
      <!-- nav bar -->
    <title>To-do app</title>
    <!-- Semantic import -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!-- Semantic import -->
</head>
<body>
    <div style="margin-left: 30px; margin-top: 30px;">
    <h1>About the app</h1>
    <p>This is a simple To-do app which has full CRUD functionality</p>
    <br>
    <p>C - Create - User is able to add new to-do tasks to the list</p>
    <p>R - Read - User is able to display all existing to-do tasks</p>
    <p>U - Update - User is able to press a button to mark a to-do task as 'complete' or 'incomplete'</p>
    <p>D - Delete - User is able to delete to-do tasks from the list</p>
    </div>
</body>
</html>