<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- nav bar -->
    <nav>
        <br>
        <div style="margin-left: 20px;">
            <a href="/" class="ui blue button">Home</a>
            <a href="/about" class="ui blue button">About</a>
        </div>
      </nav>
      <!-- nav bar -->
    <title>To-do app</title>
    <!-- Semantic import -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!-- Semantic import -->
</head>
<body>
    <div class="ui center aligned header">
    <h1 class="ui huge header">To-do list</h1>
    </div>
    <form class="ui form" action="/add" method="post">
        <div class="ui segment">
            <h2 for="title">Add to-do item:</h2>
            <input type="text" name="title" placeholder="Enter item...">
            <br>
            <button class="ui blue button" type="submit">Add</button>
        </div>
    </form>
    {% for todo in todo_list %}
    <div class="ui segment"></div>
        <p style="margin-left: 100px;">{{ todo.id }}) {{ todo.title }}</p>

        {% if todo.complete == False %}
            <span style="margin-left: 30px;" class="ui gray circular label">Not complete</span>
        {% else %}
            <span style="margin-left: 30px;" class="ui green circular label"> Complete</span>
        {% endif %}
        <div class="ui buttons">
        <a class="ui positive button" href="/update/{{ todo.id }}">Update</a>
        <div class="or"></div>
        <a class="ui black button" href="/delete/{{ todo.id }}">Delete</a>
        </div>
    
    {% endfor %}
    </div>
    <br>
    <br>
    <br>
    <br>
</body>
</html>