<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- nav bar -->
    <nav>
        <div>
          <a href="/">Navbar</a>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
            </ul>
        </div>
      </nav>
      <!-- nav bar -->
    <title>Todo app</title>
</head>
<body>

    <h1>Todo app</h1>

    <form action="/add" method="post">
        <div>
            <label for="title">Todo item</label>
            <input type="text" name="title" placeholder="Enter item...">
            <br>
            <button type="submit">Add</button>
        </div>
    </form>

    {% for todo in todo_list %}
        <p>{{ todo.id }} | {{ todo.title }}</p>

        {% if todo.complete == False %}
            <span>Not complete</span>
        {% else %}
            <span> Complete</span>
        {% endif %}

        <a href="/update/{{ todo.id }}">Update</a>
        <a href="/delete/{{ todo.id }}">Delete</a>


    {% endfor %}
</body>
</html>